/******************************************************************************
 * defaults
******************************************************************************/

$bg-color: #000;
$primary-color: #aaa;
$disabled-color: #444;
$hover-color: #0f0;
$interactive-subtle-color: #080;
$pushed-color: #f00;
$fill-color: #ff0;

@mixin hovered-element {
  background-color: #0f0;
  color: #000;
}
@mixin active-element {
  background-color: #f00;
  color: #000;
}
@mixin checked-element {
  color: $fill-color;
}
@mixin text-element {
  color: $primary-color;
  background-color: $bg-color;
}

// This wildcard seems unavoidable, need to investigate.
// Wildcards are bad and troublesome, use them with care,
// or better, just don't.
// Everytime a wildcard is used a kitten dies, painfully.
*:disabled {
  -gtk-icon-effect: dim;
}

*,
{
  padding: 0;
  margin: 0;
  
  border-color: $primary-color;
  border-style: solid;
}

*:disabled
{
  color: #444;
  border-color: #444;
}

*:selected {
  // background-color: $fill-color;
  // color: #000;
}

window,
.background,
frame,
headerbar,
{
  background-color: $bg-color;
}

label,
entry,
textview,
{
  color: $primary-color;
  selection {
    color: $fill-color;
  }
}

textview > text {
  @include text-element;
}

separator {
  min-width: 1px;
  min-height: 1px;
  -gtk-icon-source: none;
  border-style: none;
  background-color: transparent;
  background-image: linear-gradient(to bottom, $primary-color, #000);
  background-size: 1px 1px;
}
paned>separator {
  background-image: linear-gradient(to bottom, $interactive-subtle-color, #000);
  min-width: 4px;
  min-height: 4px;
}

button, radio, check,
{
  &:hover,
  &:hover label,
  {
    @include hovered-element;
  }
  &:active,
  &:active label,
  {
    @include active-element;
  }
  &:checked,
  &:checked label,
  {
    @include checked-element;
  }
  &:checked:hover,
  &:checked:hover label,
  {
    color: #f00;
  }
  &:checked:disabled,
  &:checked:disabled label,
  &:checked:disabled {
    color: scale-color($fill-color, $red: -50%, $green: -50%, $blue: -50%);
  }
  // what is this state?
  &:indeterminate {
    color: #f0f;
  }
}

button
{
  border-width: 1px;
  margin-bottom: 2px;
  padding-left: 2px;
  padding-right: 2px;
  min-height: 16px;
  min-width: 16px;
}

*:link {
  label {
    text-decoration: underline;
  }
}

check,
radio
{
  background-color: #444;
  margin-left: 2px;
  margin-right: 2px;
  &:disabled {
    background-color: #222;
  }
}

radio,
{
  border-radius: 50%;
}

paned,
textview text,
switch,
{
  border-width: 1px;
}

slider {
  border-width: 2px;
  border-color: $fill-color;
}

/******************************************************************************
 * entry and combobox
******************************************************************************/
entry,
combobox
{
  min-height: 16px;
  margin-bottom: 2px;
  border-width: 1px;
}

combobox button {
  border-width: 0;
}

combobox entry
{
  border-width: 0;
}

combobox button.combo
{
  border-left-width: 1px;
}

combobox arrow
{
  -gtk-icon-source: -gtk-icontheme("pan-down-symbolic");
  color: #0f0;
  min-height: 16px;
  min-width: 16px;
}

/******************************************************************************
 * Spinner
******************************************************************************/
@keyframes spin {
  to {
    -gtk-icon-transform: rotate(1turn);
  }
}
spinner {
  background-image: none;
  opacity: 0;
  -gtk-icon-source: -gtk-icontheme("process-working-symbolic");
}
spinner:checked
{
  opacity: 1;
animation: spin 1s linear infinite;
}
spinner:checked:disabled
{
  opacity: 0.5;
}

/******************************************************************************
 * Frame
******************************************************************************/
frame > border
{
  border-width: 1px;
}

/******************************************************************************
 * progress bar and sliders
******************************************************************************/
$slider-thickness: 6px;
progressbar {
  font-size: 83%;
  border-width: 0;
}
progress
{
  background-color: #ff0;
}

levelbar {
  trough {
    padding: 2px;
  }
  block {
    min-width: $slider-thickness;
    min-height: $slider-thickness;
    border-width: 1px;
    border-color: #0ff;
    &.empty {
      background-color: $bg-color;
    }
    &.low {
      background-color: $bg-color;
    }
    &.high {
      background-color: $fill-color;
    }
    &.full {
      background-color: $fill-color;
    }
  }
}

progressbar,
levelbar {
  &.vertical, &.horizontal {
    trough {
      background-color: #444;
    }
  }
}

/****************************************/

scale slider {
  background-color: #0f0;
}
scale {
  min-height: 16px;
  min-width: 16px;
  trough
  {
    background-color: #444;
    min-width: $slider-thickness;
    min-height: $slider-thickness;
  }
  value {
    color: $primary-color;
  }
  slider {
    margin: -6px;
    border-radius: 50%;
  }
  indicator {
    color: $primary-color;
    min-width: $slider-thickness;
    min-height: $slider-thickness;
  }
}

/******************************************************************************
 * tab
******************************************************************************/
notebook,
tab
{
  border-width: 1px;

  &:checked,
  &:checked label {
    background-color: #ff0;
    color: #000;
  }
}

/******************************************************************************
 * tooltip
******************************************************************************/
tooltip {
  border-color: #008;
  border-width: 1px;
}

/******************************************************************************
 * menu
******************************************************************************/
menubar,
.menubar,
menuitem
{
  min-height: 16px;
}

menubar,
.menubar
{
  border-bottom-width: 1px;
}

menubar menuitem
{
  color: $primary-color;
  border-width: 0;
  margin-left: 4px;
  margin-right: 4px;
}

menubar menuitem label
{
  color: $primary-color;
}


menuitem:hover,
menuitem:hover > label,
{
  background-color: #0f0;
  color: #000;
}

/******************************************************************************
 * scrollbar
******************************************************************************/
scrollbar {
  button { border: none; }
  trough {
    border-width: 1px;
    slider {
      background-color: scale-color($fill-color, $red: -50%, $green: -50%, $blue: -50%);
      border: 0;
      min-height: 8px;
      min-width: 8px;
    }
  }

  &.vertical {
    button {
      &.down { -gtk-icon-source: -gtk-icontheme('pan-down-symbolic'); }
      &.up { -gtk-icon-source: -gtk-icontheme('pan-up-symbolic'); }
    }
  }

  &.horizontal {
    button {
      &.down { -gtk-icon-source: -gtk-icontheme('pan-right-symbolic'); }
      &.up { -gtk-icon-source: -gtk-icontheme('pan-left-symbolic'); }
    }
  }
}

/******************************************************************************
 * tree & list views
******************************************************************************/
treeview.view {
  &:selected {
    &, &:focus {
      border: 1px solid #ff0;
    }
  }
}

row,
{
}

cellview {
  &:hover {
    @include hovered-element;
  }
}

/******************************************************************************
 * tab
******************************************************************************/
tab > label {
  margin-left: 4px;
  margin-right: 4px;
}

@define-color selected_bg_color #{"" + "#ffff00"};
@define-color selected_fg_color #{"" + "#000000"};
