/******************************************************************************
 * defaults
******************************************************************************/

$bg-color: #000;
$primary-color: #888;
$disabled-color: #444;
$hover-color: #0f0;
$pushed-color: #f00;
$fill-color: #ff0;

@mixin hovered-element {
  background-color: #0f0;
  color: #000;
}
@mixin active-element {
  background-color: #f00;
  color: #000;
}
@mixin checked-element {
  color: $fill-color;
}

*,
{
  padding: 0;
  margin: 0;
  
  border-color: $primary-color;
  border-style: solid;
}

*:disabled
{
  color: #444;
  border-color: #444;
}

window,
.background,
frame,
headerbar,
{
  background-color: $bg-color;
}

label,
entry,
cellview,
{
  color: $primary-color;
}

button, radio, check,
{
  &:hover,
  &:hover label,
  {
    @include hovered-element;
  }
  &:active,
  &:active label,
  {
    @include active-element;
  }
  &:checked,
  &:checked label,
  {
    @include checked-element;
  }
  &:checked:hover,
  &:checked:hover label,
  {
    color: #f00;
  }
  &:checked:disabled {
    color: scale-color($fill-color, $red: -50%, $green: -50%, $blue: -50%);
  }
  // what is this state?
  &:indeterminate {
    color: #f0f;
  }
}

button
{
  border-width: 1px;
  margin-bottom: 2px;
  padding-left: 2px;
  padding-right: 2px;
  min-height: 16px;
  min-width: 16px;
}

check,
radio
{
  background-color: #444;
  margin-left: 2px;
  margin-right: 2px;
  &:disabled {
    background-color: #222;
  }
}

radio,
{
  border-radius: 50%;
}

treeview,
list,
{

  background-color: #f00;
  color: #f00;
}

row,
row *,
{
  background-color: #f00;
  color: #f00;
}

/******************************************************************************
 * entry and combobox
******************************************************************************/
entry,
combobox
{
  min-height: 16px;
  margin-bottom: 2px;
  border-width: 1px;
}

combobox button {
  border-width: 0;
}

combobox entry
{
  border-width: 0;
}

combobox button.combo
{
  border-left-width: 1px;
}

combobox arrow
{
  -gtk-icon-source: -gtk-icontheme("pan-down-symbolic");
  color: #0f0;
  min-height: 16px;
  min-width: 16px;
}

/******************************************************************************
 * Spinner
******************************************************************************/
@keyframes spin {
  to {
    -gtk-icon-transform: rotate(1turn);
  }
}
spinner {
  background-image: none;
  opacity: 0;
  -gtk-icon-source: -gtk-icontheme("process-working-symbolic");
}
spinner:checked
{
  opacity: 1;
animation: spin 1s linear infinite;
}
spinner:checked:disabled
{
  opacity: 0.5;
}

/******************************************************************************
 * Frame
******************************************************************************/
frame > border
{
  border-width: 1px;
}

/******************************************************************************
 * progress bar and sliders
******************************************************************************/
$slider-thickness: 6px;
progressbar {
  font-size: 83%;
  border-width: 0;
}
progress
{
  background-color: #ff0;
}

levelbar {
  trough {
    padding: 2px;
  }
  block {
    min-width: $slider-thickness;
    min-height: $slider-thickness;
    border-width: 1px;
    border-color: #0ff;
    &.empty {
      background-color: $bg-color;
    }
    &.low {
      background-color: $bg-color;
    }
    &.high {
      background-color: $fill-color;
    }
    &.full {
      background-color: $fill-color;
    }
  }
}

progressbar,
levelbar {
  &.vertical, &.horizontal {
    trough {
      background-color: #444;
    }
  }
}

/****************************************/

scale slider {
  background-color: #0f0;
}
scale {
  min-height: 16px;
  min-width: 16px;
  trough
  {
    background-color: #444;
    min-width: $slider-thickness;
    min-height: $slider-thickness;
  }
  value {
    color: $primary-color;
  }
  slider {
    margin: -6px;
    border-radius: 50%;
  }
  indicator {
    color: $primary-color;
    min-width: $slider-thickness;
    min-height: $slider-thickness;
  }
}

/******************************************************************************
 * tab
******************************************************************************/
notebook,
tab
{
  border-width: 1px;

  &:checked,
  &:checked label {
    background-color: #ff0;
    color: #000;
  }
}

/******************************************************************************
 * tooltip
******************************************************************************/
tooltip {
  border-color: #008;
  border-width: 1px;
}

/******************************************************************************
 * menu
******************************************************************************/
menubar,
.menubar,
menuitem
{
  min-height: 16px;
}

menubar,
.menubar
{
  border-width: 1px;
}

menuitem:hover,
menuitem:hover label
{
  background-color: #0f0;
  color: #000;
}

menubar menuitem
{
  background-color: #000;
  border-width: 0;
}

/******************************************************************************
 * scrollbar
******************************************************************************/
scrollbar {
  min-width: 16px;
  min-height: 16px;
  background-color: #f0f;
}
