/******************************************************************************
 * defaults
******************************************************************************/
*:disabled {
  -gtk-icon-effect: dim; }

* {
  padding: 0;
  margin: 0;
  border-color: #aaa;
  border-style: solid;
  outline-color: #ff0;
  outline-style: solid; }

*:disabled {
  color: #444;
  border-color: #444; }

window,
.background,
frame,
headerbar {
  background-color: #000000; }

label,
entry,
textview {
  background-color: #000000;
  color: #aaa; }
  label selection,
  entry selection,
  textview selection {
    color: #ff0; }

textview > text {
  color: #aaa;
  background-color: #000000; }

separator {
  min-width: 1px;
  min-height: 1px;
  -gtk-icon-source: none;
  border-style: none;
  background-color: transparent;
  background-image: linear-gradient(to bottom, #aaa, #000);
  background-size: 1px 1px; }

paned > separator {
  background-image: linear-gradient(to bottom, #080, #000);
  min-width: 4px;
  min-height: 4px; }

button:hover,
button:hover label, radio:hover,
radio:hover label, check:hover,
check:hover label {
  background-color: #0f0;
  color: #000; }

button:active,
button:active label, radio:active,
radio:active label, check:active,
check:active label {
  background-color: #f00;
  color: #000; }

button:checked,
button:checked label, radio:checked,
radio:checked label, check:checked,
check:checked label {
  color: #ff0; }

button:checked:hover,
button:checked:hover label, radio:checked:hover,
radio:checked:hover label, check:checked:hover,
check:checked:hover label {
  color: #f00; }

button:checked:disabled,
button:checked:disabled label, button:checked:disabled, radio:checked:disabled,
radio:checked:disabled label, radio:checked:disabled, check:checked:disabled,
check:checked:disabled label, check:checked:disabled {
  color: olive; }

button:indeterminate, radio:indeterminate, check:indeterminate {
  color: #f0f; }

button {
  border-width: 1px;
  margin-bottom: 2px;
  padding-left: 2px;
  padding-right: 2px;
  min-height: 16px;
  min-width: 16px; }

*:link label {
  text-decoration: underline; }

check,
radio {
  background-color: #444;
  margin-left: 2px;
  margin-right: 2px; }
  check:disabled,
  radio:disabled {
    background-color: #222; }

radio {
  border-radius: 50%; }

paned,
textview text,
switch {
  border-width: 1px; }

slider {
  border-width: 2px;
  border-color: #ff0; }

/******************************************************************************
 * entry and combobox
******************************************************************************/
entry,
combobox {
  min-height: 16px;
  margin-bottom: 2px;
  border-width: 1px; }

combobox button {
  border-width: 0; }

combobox entry {
  border-width: 0; }

combobox button.combo {
  border-left-width: 1px; }

combobox arrow {
  -gtk-icon-source: -gtk-icontheme("pan-down-symbolic");
  color: #0f0;
  min-height: 16px;
  min-width: 16px; }

/******************************************************************************
 * Spinner
******************************************************************************/
@keyframes spin {
  to {
    -gtk-icon-transform: rotate(1turn); } }

spinner {
  background-image: none;
  opacity: 0;
  -gtk-icon-source: -gtk-icontheme("process-working-symbolic"); }

spinner:checked {
  opacity: 1;
  animation: spin 1s linear infinite; }

spinner:checked:disabled {
  opacity: 0.5; }

/******************************************************************************
 * Frame
******************************************************************************/
frame > border {
  border-width: 1px; }

/******************************************************************************
 * progress bar and sliders
******************************************************************************/
progressbar {
  font-size: 83%;
  border-width: 0; }

progress {
  background-color: #ff0; }

levelbar trough {
  padding: 2px; }

levelbar block {
  min-width: 6px;
  min-height: 6px;
  border-width: 1px;
  border-color: #0ff; }
  levelbar block.empty {
    background-color: #000000; }
  levelbar block.low {
    background-color: #000000; }
  levelbar block.high {
    background-color: #ff0; }
  levelbar block.full {
    background-color: #ff0; }

progressbar.vertical trough, progressbar.horizontal trough,
levelbar.vertical trough,
levelbar.horizontal trough {
  background-color: #444; }

/****************************************/
scale slider {
  background-color: #0f0; }

scale {
  min-height: 16px;
  min-width: 16px; }
  scale trough {
    background-color: #444;
    min-width: 6px;
    min-height: 6px; }
  scale value {
    color: #aaa; }
  scale slider {
    margin: -6px;
    border-radius: 50%; }
  scale indicator {
    color: #aaa;
    min-width: 6px;
    min-height: 6px; }

/******************************************************************************
 * tab
******************************************************************************/
notebook,
tab {
  border-width: 1px; }
  notebook:checked,
  notebook:checked label,
  tab:checked,
  tab:checked label {
    background-color: #ff0;
    color: #000; }

/******************************************************************************
 * tooltip
******************************************************************************/
tooltip {
  border-color: #008;
  border-width: 1px; }

/******************************************************************************
 * menu
******************************************************************************/
menubar,
.menubar,
menuitem {
  min-height: 16px; }

menubar,
.menubar {
  border-bottom-width: 1px; }

menubar menuitem {
  color: #aaa;
  border-width: 0;
  margin-left: 4px;
  margin-right: 4px; }

menubar menuitem label {
  color: #aaa; }

menuitem:hover,
menuitem:hover > label {
  background-color: #0f0;
  color: #000; }

/******************************************************************************
 * scrollbar
******************************************************************************/
scrollbar button {
  border: none; }

scrollbar trough {
  border-width: 1px; }
  scrollbar trough slider {
    background-color: olive;
    border: 0;
    min-height: 8px;
    min-width: 8px; }

scrollbar.vertical button.down {
  -gtk-icon-source: -gtk-icontheme("pan-down-symbolic"); }

scrollbar.vertical button.up {
  -gtk-icon-source: -gtk-icontheme("pan-up-symbolic"); }

scrollbar.horizontal button.down {
  -gtk-icon-source: -gtk-icontheme("pan-right-symbolic"); }

scrollbar.horizontal button.up {
  -gtk-icon-source: -gtk-icontheme("pan-left-symbolic"); }

/******************************************************************************
 * tree & list views
******************************************************************************/
treeview.view:selected, treeview.view:selected:focus {
  border: 1px solid #ff0; }

row:selected, row:selected > label {
  background-color: #ff0;
  color: #000; }

cellview:hover {
  background-color: #0f0;
  color: #000; }

/******************************************************************************
 * tab
******************************************************************************/
tab > label {
  margin-left: 4px;
  margin-right: 4px; }

@define-color theme_fg_color #ffff00;
@define-color theme_text_color #aaaaaa;
@define-color theme_bg_color #000000;
@define-color theme_base_color #ffff00;
@define-color theme_selected_bg_color #ffff00;
@define-color theme_selected_fg_color #00ffff;
@define-color fg_color #ffff00;
@define-color text_color #aaaaaa;
@define-color bg_color #000000;
@define-color base_color #ffff00;
@define-color selected_bg_color #ffff00;
@define-color selected_fg_color #00ffff;
@define-color insensitive_bg_color #000000;
@define-color insensitive_fg_color #888800;
@define-color insensitive_base_color #ffff00;
@define-color theme_unfocused_fg_color #ffff00;
@define-color theme_unfocused_text_color #aaaaaa;
@define-color theme_unfocused_bg_color #000000;
@define-color theme_unfocused_base_color #ffff00;
@define-color borders #888888;
@define-color unfocused_borders #888888;
@define-color warning_color #ffff00;
@define-color error_color #00ff00;
@define-color success_color #00ffff;
@define-color content_view_bg #ffff00;
